[Unit]
Description=wghttp

[Service]
Type=simple
Environment=PRIVATE_KEY=FIXME
Environment=PEER_KEY=FIXME
Environment=PEER_ENDPOINT=FIXME
Environment=CLIENT_IP=FIXME
ExecStart=%h/go/bin/wghttp --listen 127.0.0.1:1080
Restart=on-failure

[Install]
WantedBy=default.target
